.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #97c093;
}
.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-background-radius: 0px 0px 30px 30px;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab-header-area{
    -fx-background-color: #97c093;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0px 0px 30px 30px;
}
.tab-pane .tab-header-area .tab {
    -fx-background-color: #97c093;
    -fx-background-radius: 0px 0px 30px 30px;
}
.tab-pane .tab-header-area .tab.selected {
    -fx-background-color: #314c1c;
    -fx-background-radius: 30px 30px 0px 0px;
}
.tab.selected.focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab-pane .tab-header-area .tab .tab-label {
    -fx-text-fill: #314c1c;
}
.tab-pane .tab-header-area .tab.selected .tab-label {
    -fx-text-fill: #97c093;
}
