/* TextField */
.text-field {
    -fx-text-fill: #000000;
    -fx-background-color:  #314c1c;
    -fx-border-color: #97c093;
    -fx-border-width: 1px;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
}

/* Label */
.label-light {
    -fx-alignment: center-left;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-text-fill: #97c093;
}
.label-dark {
    -fx-alignment: center-left;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-text-fill: #314c1c;
}
.label-center-dark {
    -fx-alignment: top-center;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-text-fill: #314c1c;
}
.label-title-dark {
    -fx-alignment: center-left;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-text-fill: #314c1c;
}
.label-title-light {
    -fx-alignment: center-left;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-text-fill: #97c093;
}

.button-default {
    -fx-background-color: #97c093;
    -fx-text-fill: #314c1c;
    -fx-background-radius: 40;
}

.button-pressed {
    -fx-background-color: #314c1c;
    -fx-text-fill:  #97c093;
    -fx-content-display: TEXT_ONLY;
}

.button-search {
    -fx-background-color: #314c1c;
    -fx-text-fill:  #97c093;
    -fx-background-radius: 40;
    -fx-border-color: #97c093;
    -fx-border-width: 1;
    -fx-border-radius: 40;
    -fx-pref-height: 25;
    -fx-pref-width: 301;
    -fx-content-display: TEXT_ONLY;

}

.rounded-label {
    -fx-background-color: #314c1c;
    -fx-padding: 2px 12px;
    -fx-border-color: #97c093;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-alignment: center-left;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-text-fill: #97c093;
}

.rating-slider {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-control-inner-background: #314c1c;
    -fx-background-color: transparent;
}

.rating-slider .track {
    -fx-background-color: #314c1c;
    -fx-background-insets: 0;
    -fx-pref-height: 6px;
    -fx-background-radius: 3px;
}

.rating-slider .thumb {
    -fx-background-color: #314c1c;
    -fx-background-radius: 10px;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}
